.fixedBtn {
    position: fixed;
    right: 5%;
    bottom: 5%;
    padding: 10px;
    border-radius: 50%;
    z-index:1000;
    @include gradationColor(#f1e9c5, #fdfb66);
    @include mobile{
      padding:5px;
    }
  }