.itemBox {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow:hidden;
  &-Img {
    width: 100%;
    height: auto;
    transition:transform  .5s ease-out;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}
