$lineHeight: 2.5em;
.listGroup{
    width: 100%;
    &-item{
        margin: 10px auto;
        display: block;
        border:1px solid black;
        background: white;
        text-align: center;
        text-decoration:none;
        line-height: $lineHeight;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
        position: relative;
        &::before{
            content: "";
            width:2em;
            height:2em;
            line-height: $lineHeight;
            position: absolute;
            border-left:$lineHeight/2 solid transparent;
            border-right:$lineHeight/2 solid transparent;
            border-bottom:$lineHeight/2*1.732 solid transparent;
            top:0;
            left:-30px;
            transform:rotate(90deg);
            transition:linear .5s;
        }
        &:hover{
            color:$customer;
            text-decoration:none;
        }
        &.active{
            &::before{
                border-bottom:$lineHeight/2*1.732 solid orange;
                left:-2.5px;
                top:2px;
            }
        }
  
    }
}
