.news-group {
  list-style: none;
  margin: 0 auto;
  letter-spacing: .1em;
  font-size: 20px;
  @include pad{
    letter-spacing: .25em; 
  }
  @include mobile {
    font-size: 16px;
    letter-spacing: 0;
    padding:0; 
   
  }

  .news-item {
    padding: 10px 0;
    border-bottom: 1px solid black;
    text-align: left;

    .news-content {
      color:$dark;
      text-decoration: none;
    }
    .news-date {
      margin-right: 10px;
    }
  }
}
