//購物車選單
.offConvas {
  position: fixed;
  height: 100vh;
  width: 33.33333%;
  transition: transform 1s;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  top: 0;
  bottom: 0;
  z-index: 1021;
  background: rgba(0, 0, 0, .7);
  transform: translateX(-100%);

  &.active {
    transform: translateX(0px);
  }

  &-close {
    text-align: right;
  }

  &-table {
    height: 500px;
    overflow: auto;

    @include pad {
      height: 600px;
    }

    @include mobile {
      height: 400px;
    }
  }

  @include pad {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    transform: translateX(-100%);
  }

  @include mobile {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    transform: translateX(-100%);
  }
}

