$lineColor: rgba(0, 0, 0,0.3);
$borderColor : rgba(0, 0, 0,0.3);
$textColor : rgb(5,185,5);
$bgColor : #fff;

.progressBar {
  padding: 0;
  counter-reset: step;
  display: flex;
  justify-content: space-between;
  position: relative;
 
  &::before {
    //line
    content: '';
    position: absolute;
    top: 30%;
    left:5%;
    right:5%;
    min-height: 2px;
    background: $lineColor;
    z-index:-1;
    @include pad{
      top:30%;
    }
    @include mobile{
      top:25%;
    }
  }
  &-item {
    &:first-child{
      text-align: center;
    }
    &:last-child{
      text-align: center;
    }
    list-style-type: none;
    &::before{
      //圓圈
      display: inline-block;
      font-size: 1.5em;
      content:counter(step);
      counter-increment: step;
      padding: 1em 1.5em;
      border-radius: 50%;
      background: $bgColor;
      border: 3px solid $borderColor;
      @include mobile{
        font-size: 1em;
        padding: .75em 1em;
      }
    }
    &::after{
      //文字
      content:attr(data-text);
      display: block;
      font-size: 1.5em;
      margin-top: 20px;
      @include mobile{
        font-size: 1em;
      }
    }
    &.active {
      color: $textColor;
      &::before {
        border-color:$textColor; 
        box-shadow: 0px 0px 20px $textColor;
      }
    }
  }
}