.table{
  overflow-x: auto;
  white-space: nowrap;
  @include pad{
    display: block;
  }
  @include mobile { 
    display: block;
  }
  &-imgSize {
    width: 100%;
    height:auto;
    @include pad{
      width:100px;
      height:auto;
    }
    @include mobile {
      width: 50px;
      height:auto;
    }
  }
}
