.coupon{
    background:#DCB879;
    display: flex;
    border-radius: 10px;
    &-header{
        width: 30%;
        border-right:3px dotted black;
        text-align: center;
        @include pad{
            width:40%;
        }
    }
    &-body{
        width: 70%;
        text-align: center;
        @include pad{
            width:60%;
        }
    }

    &-input{
        opacity: 0;
        max-width:1%;
    }
}