.myAlert {
    position: fixed;
    z-index: 100;
    right: 1%;
    animation: 0.3s opacity;
    display: flex;
    padding: 0.5em 1em;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;

    &-success {
        background-color: $success;
    }

    &-danger {
        background-color: $danger;
    }

    &-icon {
        color: white;
        border-radius: 50%;
        padding: 0.25em 0.5em;
        border: 2px solid white;
    }


    &-message {
        margin: 0;
        color: white;
        font-size: 1em;
        padding: 0 1em;

        @include sm {
            font-size: 1.5em;
        }
    }

    &-close {
        border: 0;
        background-color: inherit;
        color: white;
        font-size: 1.5em;

        &:hover {
            color: rgba(black, 0.5)
        }
    }
}

@keyframes opacity {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}