@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
  box-sizing: border-box;
}
body {
  background: rgba(250, 214, 137,.1);
  font-family: Andale Mono, monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

//input:number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;

}

#number {
  width: 5em;
}
