.myJumbotron {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    padding: 1em 0;

    &-mask {
        width: 50%;
        margin: 1em 0;
        padding: 1em 1em;
        background-color: rgba(black, 0.3);
        text-align: center;

        &-title,
        &-text {
            color: white;
            padding: 0.25em 0;
        }
    }

}