.nb {
    padding: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    background-color: $warning;

    &-logo {
        font-size: 2.5rem;


    }

    &-toggleBtn {
        margin-left: auto;
        border: 0;
        box-shadow: 0 3px 5px darken($warning, 20%);
        background-color: inherit;
        color: black;
        line-height: 2.5em;
        padding: 0 1.25em;
        border-radius: 10px;

        &-active {
            box-shadow: 0 3px 5px darken($warning, 20%) inset;
        }

        @include lg {
            display: none;
        }


    }

    &-collapse {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: -1;
        background-color: inherit;
        left: 0;
        top: 100%;
        transform: translateY(-100%);
        transition: 0.5s transform;

        &-active {
            transform: translateY(0%);
        }

        @include lg {
            position: relative;
            flex-direction: row;
            align-items: center;
            transform: translateY(0%);
            z-index: 0;
        }
    }

    &-nav {
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
            margin-bottom: 0;
            align-items: center;
            margin-right: auto;
        }

        &-item {
            width: inherit;
            text-align: center;
            position: relative;

            @include lg {
                padding: 0.25em 0;
            }

            &-link {
                display: block;
                padding: 0.25em 1em;
                font-size: 1.25em;
                font-weight: bolder;
                color: $secondary;


                &-active {
                    color: $primary;
                }
            }
        }
    }

    &-btnGroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.25em 0;
        background-color: lighten($warning, 15%);

        @include lg {
            background-color: inherit;
        }

        &-item {
            margin: 0;
            text-align: center;
            padding: 0.5em;
            flex: 1 1 33.33%;
            padding-bottom: 0.25em;

            @include lg {
                margin: 0 0.5em;
            }
        }
    }

    &-btn {
        border: 0;
        padding: 0.25em 1em;
        color: $secondary;
        background-color: inherit;
        position: relative;
        border-radius: 10px;

        &-active {
            color: $primary;
        }

        &:active {
            background-color: $primary;
            color: white;
        }
    }


    &-dropDown {
        &-toggle {
            border: 0;
            padding: 0.25em 1em;
            color: $secondary;
            background-color: inherit;
            border-radius: 10px;

            &-active {
                color: $primary;
            }
        }

        &-list {
            border-radius: 0;
            width: 100%;
            background-color: lighten($warning, 30%);
            margin: 0;

            @include lg {
                width: auto;
                display: none;
                position: absolute;
                right: 0;
                top: 100%;
                padding: 0 1em;
            }

            &-item {
                width: 100%;
                padding: 1rem 0;

                &-link {
                    width: 100%;
                    display: block;
                    text-align: center;
                    border: 0;
                    background-color: inherit;
                    color: black;
                    padding: 0;

                    &:hover {
                        color: $primary;
                    }

                    &-danger {
                        color: $danger;
                    }
                }
            }
        }

    }

    &-badge {
        @include size(2.5em);
        color: white;
        position: absolute;
        top: 0;
        left: 55%;
        border-radius: 50%;
        font-size: 0.5em;

        &-color {

            @each $color,
            $value in $theme-colors {
                &-#{$color} {
                    background-color: $value;
                }
            }
        }
    }
}